.skillItem {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}
.skillInfo p{
    text-align: left;
    font-size: 15px;

}

.imageBlock {
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    box-shadow: 0px 0px 42px 4px #ffffff;
    background-color: #282c34;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

.imageBlock img {
    height: 50px;
    display: block;
    margin: 0 auto;
    transform: rotate(-45deg);
}
.skillInfo {
    text-align: center;
}

.skillTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .skillItem {
        width: 80%;
    }
}
