.title {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-bottom: 40px;

}
.title:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #570f60;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

@media screen and (max-width: 740px){
    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
}