.mySkills {
    background-color: #232323;
}

.container {
    min-height: 100vh;
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;

}
.flexContainer {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: baseline;

}

@media screen and (max-width: 900px) {
    .flexContainer {
        flex-direction: column;
        align-items: center
    }
}