.meWorkItemWrap {
    border: 3px solid white;
    padding: 10px;
    margin: 20px 20px 40px 20px;
    /*transform: rotate(5deg);*/
}
.myWorkItem {
    max-width: 350px;
    /*background: #171717;*/
    background: rgba(0,0,0, 0.6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    /*transform: rotate(-5deg);*/
}
.examplePhoto{
    position: relative;
    display: block;


}
.examplePhoto:hover .viewButton {
    background: none;
    box-shadow: 0px 0px 10px 0px #ffffff;
    transition: 1s;
}
.examplePhoto:hover .exampleImg {
    filter: blur(1px);
    transition: 1s;

}
.exampleImg {
    width: 100%;
    opacity: 0.7;
    filter: blur(0);
    transition: 1s;
    overflow: hidden;
}
.exampleInfo {
    padding: 7px;
}
.exampleInfo span {
    padding: 5px;
    display: block;
    font-size: 13px;
}
.viewButton {
    transition: 1s;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 150px;
    height: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    background: rgba(0,0,0, 0.6);
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -75px;
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
    z-index: 5;
}

.title {
    font-weight: bold;
    display: block;
    line-height: 20px;
    font-size: 15px;
    color: darkgray;
}