.myWorkItem {
    max-width: 400px;
    background: rgba(000, 0, 0, 0.8);
    padding-bottom: -3px;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px #ffffff;

}
.example {
    position: relative;
}
.example img{
    width: 100%;

}
.exampleInfo {
    padding: 7px;
}
.exampleInfo span {
    padding: 5px;
    display: block;
    font-size: 13px;
}
.viewButton {
    position: absolute;
    width: 90px;
    height: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -45px;
    text-decoration: none;
    border: 1px solid grey;
    color: grey;
    display: block;
    line-height: 30px;
    text-align: center;
    z-index: 5;
}
.viewButton:hover {
    background-color: gray;
    color: white;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
}