.myWorkItem {
    max-width: 350px;
    background: #282c34;
    padding: 10px;
    margin: 20px 20px 40px 20px;
    box-shadow: 0px 0px 30px 4px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.examplePhoto{
    position: relative;
    display: block;

}
.examplePhoto:hover .viewButton {
    box-shadow: 0px 0px 10px 0px #ffffff;
    transition: 1s;
}
.examplePhoto:hover .exampleImg {
    filter: blur(3px);
    transition: 1s;

}
.exampleImg {
    width: 100%;
    opacity: 0.6;
    filter: blur(0);
    transition: 1s;
    overflow: hidden;
}
.exampleInfo {
    padding: 7px;
}
.exampleInfo span {
    padding: 5px;
    display: block;
    font-size: 13px;
}
.viewButton {
    transition: 1s;
    position: absolute;
    width: 150px;
    height: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    /*background: rgba(255,255,255, 0.9);*/
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -75px;
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
    z-index: 5;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
}