.contacts {
    background-color: fuchsia;
}
.container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title {
    font-size: 25px;
    text-align: center;
    color: #282c34;
    margin-bottom: 30px;
}